body {
  background: green; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, green, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, green, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, green, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, green, yellow); /* Standard syntax */

}

.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.greenColor{
    color: green;
}
